<launch>

  <!-- ZED camera node -->
  <!--include file="$(find zed_wrapper)/launch/zed.launch">
      <arg name="camera_model" value="0" /--> <!-- 0=ZED, 1=ZEDM-->
  <!--/include-->

  <!-- Robot localization package -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
  </node>

  <!-- Rigid transform robot -->
  <node pkg="tf" type="static_transform_publisher" name="per_slam_tf_1" args="0 0 0 0 0 0 1 base_link zed_center 100" />
  <node pkg="tf" type="static_transform_publisher" name="per_slam_tf_2" args="0 0 0 0 0 0 1 map odom 100" />


  <!-- Reactive Mapping -->
  <node pkg="reactive_mapping" type="reactive_mapping.py" name="reactive_mapping" clear_params="true"  />

  <!-- Global Mapping -->
  <node pkg="global_mapping" type="global_mapping.py" name="global_mapping" clear_params="true" output="screen" />
  <node name="rviz_visualizer" pkg="rviz_visualizer" type="rviz_visualizer.py" output="screen" />
</launch>
