<launch>
<!-- play a rosbag with zed image,depth topics and record another rosbag with /perception_cones, /processedImage topic -->

  <!-- play zed rosbag without using simulation time
  <param name ="/use_sim_time" value="true"/>
  -->

  <node pkg="rosbag" type="play" name="player" output="screen" args="-r 1 --clock $(find perc_slam_launch)/rosbags/zed_imu_rosbag_2018-06-28-15-45-11.bag" launch-prefix="xterm -e" />

  <!-- Transforms ZED -->
  <node pkg="tf" type="static_transform_publisher" name="per_zed_1" args="0 0.06 0 0 0 0 1 zed_center zed_left_camera  100" />
  <node pkg="tf" type="static_transform_publisher" name="per_zed_2" args="0 0 0 0 0 0 1 zed_left_camera zed_depth_camera  100" />
  <node pkg="tf" type="static_transform_publisher" name="per_zed_3" args="0 0.06 0 0 0 0 1 zed_center zed_right_camera  100" />

  <!-- IMU fix -->
  <node pkg="imu_fix" type="imu_fix.py" name="imu_fix" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_imu" clear_params="true" >
    <rosparam command="load" file="$(find robot_localization)/params/ekf_imu.yaml" />
    <remap from="odometry/filtered" to="/imu_filtered"/>
  </node>

  <!-- Visual Odometry fix -->
  <node pkg="vo_odom_fix" type="vo_odom_fix.py" name="vo_odom_fix" clear_params="true" />


  <!-- Rigid transform robot -->
  <node pkg="tf" type="static_transform_publisher" name="per_slam_tf_1" args="0 0 0 0 0 0 1 base_link zed_center 100" />
  <node pkg="tf" type="static_transform_publisher" name="per_slam_tf_2" args="0 0 0 0 0 0 1 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="per_slam_tf_3" args="0 0 0 3.14 0 0 base_link imu_link  100" />

  <!-- Robot localization package -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" >
    <rosparam command="load" file="$(find robot_localization)/params/ekf_zed_odom.yaml" />
  </node>

  <!-- Perception pipeline -->
  <node pkg="perception_pipeline" type="perception_pipeline.py" name="perception_pipeline" clear_params="true"/>

  <!-- Reactive Mapping -->
  <node pkg="reactive_mapping" type="reactive_mapping.py" name="reactive_mapping" clear_params="true"  />

  <!-- Global Mapping -->  
  <node pkg="global_mapping" type="global_mapping.py" name="global_mapping" clear_params="true" output="screen"/>

  <!-- RVIZ -->
  <node name="rviz_visualizer" pkg="rviz_visualizer" type="rviz_visualizer.py"  />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zed_wrapper)/rviz/zed.rviz" />

  <!-- record new rosbag -->
  <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o $(find perc_slam_launch)/rosbags/navigation_rosbag  /reactive_cones"/>  

</launch>
