<launch>

  <!-- ZED camera node -->
  <include file="$(find zed_wrapper)/launch/zed.launch">
      <arg name="camera_model" value="0" /> <!-- 0=ZED, 1=ZEDM-->
  </include>

  <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o $(find perc_slam_launch)/rosbags/zed_imu_rosbag  /zed/odom /zed/depth/depth_registered /zed/left/image_rect_color /imu/data"/>  

  <node name="imu_node" pkg="xsens_driver" type="mtnode.py" args="_port:=/dev/ttyUSB0 _baudrate:=9600" respawn="true" />

</launch>
